langchain==0.3.25
langchain-community==0.3.24
langchain-groq==0.3.8
langchain-huggingface==1.2.2
langchain-core==1.3.0
langgraph==0.4.1
faiss-cpu==1.12.0
python-dotenv==1.1.0
sentence-transformers==5.4.1
groq==0.37.1
